.posts{
    display: flex;
    flex: 9;
    flex-wrap: wrap;
    margin: 20px;
}

.post{
    width: 385px;
    height: 250px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* border: 2px solid magenta; */
    margin: 0 25px 40px 25px;
    cursor: pointer;
    border-radius: 10px;
    overflow: auto;
}
.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postButton{
    position: relative;
    top: 120px;
    margin: auto 0 0 0;
    background-color: teal;
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.postCat{
    font-family: "Varela Round";
    font-size: 11px;
    color: #be9656;
    margin: 15px 10px 0 0;
    line-height: 20px;
    cursor: pointer;
}
.postTitle{
    font-family: "josefin Sans";
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}
.postDate{
    font-family: "Lora";
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin: 15px 0 10px 0;
}
.postDescription{
    font-family: "roboto";
    font-size: 14px;
    line-height: 24px;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;   
}